@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 230, 230, 230;
  --background-start-rgb: 18, 20, 32;
  --background-end-rgb: 40, 190, 200;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
